@using System.Linq
@model SuperPizzeria.Models.Cart

<h2>Cart: </h2>
<table>
    @if (Model != null)
    {
        foreach (var cartItem in Model.CartItems)
         {
             <tr>
                 <td> Dish: @cartItem.Dish.Name </td>
                 <td> Quantity: @cartItem.Quantity </td>
                 <td> Price each: @cartItem.Dish.Price$ </td>
                 <td> Ingredients: </td>@foreach (var i in cartItem.CartItemIngredients)
                                        {
                                            <td>@i.Ingredient.Name</td>
                                        }
                 <td>
                     <a asp-action="RemoveCartItem" asp-controller="Cart" asp-route-id="@cartItem.CartItemId"
                        data-target="#Cart"data-ajax="true" data-ajax-mode="GET" data-ajax-method="get" data-ajax-update="#Cart"> Remove
                     </a>
                 </td>
             </tr>
         }
    }
    
</table>
<h2> Total: @Model.CartItems.Sum((x => x.Dish.Price * x.Quantity))$</h2>
<a asp-controller="Cart" asp-action="CheckOut">Check out</a>
