@model SuperPizzeria.ViewModels.EditDishViewModel

@{
    ViewData["Title"] = "Create";
}
<script src="~/js/select2.js"></script>
<script src="~/js/site.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />
<h2>Create</h2>

<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Dish.Name" class="control-label"></label>
                <input asp-for="@Model.Dish.Name" class="form-control" />
                <span asp-validation-for="@Model.Dish.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dish.Price" class="control-label"></label>
                <input asp-for="@Model.Dish.Price" class="form-control" />
                <span asp-validation-for="@Model.Dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Dish.DishIngredients" class="control-label"></label>
                <select asp-for="@Model.ingredientId" class="js-example-basic-multiple" multiple="multiple">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <option value="@ingredient.Id">@ingredient.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Category" class="control-label"></label>
                @foreach (var category in Model.Categories)
                {
                        <input type="radio" asp-for="@Model.Dish.CategoryId" value="@category.Id" />@category.Name
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $(".js-example-basic-multiple").select2();
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
