@model SuperPizzeria.ViewModels.EditDishViewModel

@{
    ViewData["Title"] = "Edit";
}
<script src="~/js/select2.js"></script>
<link href="~/css/select2.css" rel="stylesheet" />
<h2>Edit</h2>
<h4>Dish</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Dishes" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Dish.Id" />
                <div class="form-group">
                    <label asp-for="Dish.Name" class="control-label"></label>
                    <input asp-for="Dish.Name" class="form-control" />
                    <span asp-validation-for="Dish.Name" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="Dish.Price" class="control-label"></label>
                <input asp-for="Dish.Price" class="form-control"/>
                <span asp-validation-for="Dish.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dish.Category" class="control-label"></label>
                @foreach (var category in Model.Categories)
                {
                    if (category.Id == Model.Dish.CategoryId)
                    {
                        <input type="radio" checked="checked" asp-for="@Model.Dish.CategoryId" value="@category.Id" />@category.Name
                    }
                    else
                    {
                        <input type="radio" asp-for="@Model.Dish.CategoryId" value="@category.Id" />@category.Name
                    }  
                }
            </div>
            <div class="form-group">
                <label asp-for="Dish.DishIngredients" class="control-label"></label>
                <select asp-for="IngredientId" class="js-example-basic-multiple" multiple="multiple">
                    @foreach (var ingredient in Model.Ingredients)
                    {
                        <option value="@ingredient.Id">@ingredient.Name</option>
                    }
                </select>
            </div>
            <script type="text/javascript">
                $(".js-example-basic-multiple").select2();
            </script>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
