@using System.Collections.Generic
@model System.Collections.Generic.IEnumerable<SuperPizzeria.Models.Dish>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DishIngredients)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @foreach (var ingredient in item.DishIngredients)
                {
                    <p>
                        @Html.DisplayFor(modelItem => ingredient.Ingredient.Name)
                    </p>
                }
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                else
                {
                    <a asp-action="AddToCart" asp-route-id="@item.Id">Add to cart</a>
                }
            </td>
        </tr>
}
    @await Html.PartialAsync("_CartPartial")
    </tbody>
</table>
